@import "nullstyle.scss";

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	display: flex;
	min-height: 100%;
	overflow: hidden;
	flex-direction: column;
}

.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 15px;
	@media (max-width: 1200px){
		max-width: 970px;
	}
	@media (max-width: 992px){
		max-width: 750px;
	}
	@media (max-width: 767px){
		max-width: none;
	}
}





.header {
	background-color: #5e5373;
	&__row {
		display: flex;
		justify-content: space-between;
		height: 80px;
		align-items: center;
	}
	&__logo {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: #ece89d;
	}
	&__menu {}
}
.menu {
	&__icon {}
	&__body {}
	&__list {
		display: flex;
		li{
			list-style: none;
			margin: 0px 0px 0px 15px;
		}
	}
	&__link {
		height: 20px;
		width: 100px;
		background-color: #ece89d;
		display: block;
	}
}
.icon-menu {
}

@media (max-width: 767px){
	.menu__body{
		display: none;
	}
	.icon-menu{
		display: block;
		position: relative;
		width: 40px;
		height: 25px;
		position: relative;
		z-index: 3;
		span{
			position: absolute;
			background-color: #ece89d;
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			top: 11px;
		}
	}
	.icon-menu:before, 
	.icon-menu:after{
		content: '';
		background-color: #ece89d;
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.icon-menu:before{
		top: 0;
	}
	.icon-menu:after{
		bottom: 0;
	}
	.icon-menu.active span{
		transform: scale(0);
	}

	.icon-menu.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.icon-menu.active:after{
		transform: rotate(45deg);
		bottom: 9px;
	}
}

.three-block {
	margin: 0px 0px 30px 0px;
	&__row {
		display: flex;
		margin: 0px -15px;
	}
	&__column {
		flex: 0 1 33.333%;
		padding: 0px 15px;
	}
	&__image {
		padding: 0px 0px 58% 0px;
		background-color: #ece89d;
		margin-bottom: 10px;
	}
	&__item {
		// width: 370px;
		background-color: #18b5a4;
		padding: 15px;
	}
	&__text{
		color: #fff;
		line-height: 25px;
	}
}

.two-block {
	margin: 0px 0px 30px 0px;
	&__row {
		display: flex;
		margin: 0px -15px;
	}
	&__column{
		flex: 0 1 50%;
		padding: 0px 15px;
	}
	&__item {
		// width: 570px;
		background-color: #18b5a4;
		padding: 15px;
	}
	&__image {
		padding: 0px 0px 58% 0px;
		background-color: #ece89d;
		margin-bottom: 10px;
	}
	&__text {
		color: #fff;
		line-height: 25px;
	}
}

.page{
	flex: 1 1 auto;
	padding: 30px 0px;
}

.footer {
	background-color: #5e5373;
	&__block{
		width: 80px;
		height: 15px;
		background-color: #ece89d;
	}
	&__left {}
	&__center {}
	&__right {}
	&__row {
		display: flex;
		height: 50px;
		justify-content: space-between;
		align-items: center;
	}
}